* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      padding: 40px;
      background: #f3f3f3;
      display: flex;
      justify-content: center;
    }

    .tabs-container {
      width: 600px;
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    .tab-border {
        border: 2px solid ;
        border-radius: 10px;
        padding: 10px;
    }
    .tabs {
      display: flex;
      border-bottom: 2px solid #ccc;
      margin-bottom: 20px;
    }

    .tab {
      padding: 12px 20px;
      cursor: pointer;
      font-weight: 600;
      color: #c7c6c6;
      border-bottom: 3px solid transparent;
      transition: 0.3s;
    }

    .tab.active {
      color: #000;
      border-bottom: 3px solid black;
    }

    .tab-content {
      display: none;
      
    }

    .tab-content.active {
      display: block;
      /* background-color: #000; */
      /* color: #fff; */
      text-align: center;
      
    }
    .color-block-container {
        margin: 20px 0;
        background-color: #000;
        color: #fff;
        height: 90px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .color-block-container p{
        align-items: center;
        justify-content: center;
    }

    /* @media (max-width: 768px) {
      .tabs-container {
        width: 100%;
      }
    } */
    @media  (max-width: 640px) {
      body{
        padding: 0;
      }
      .tabs{
        width: 314px;
        margin-top: 10px;
        gap: 38px;
        overflow-x: scroll; 
        overflow-y: hidden;
        white-space: nowrap;
        justify-content: space-between;
      }
      .tab {
        padding: 0;
      }
      /* .tab-content p{
        font-size: 12px;
      } */
    }